#root{
  height: 100%;
}

.App {
  height: 100%;  
  display: flex;    
  background-color: #f1f1f1;
  /* justify-content: center;
  text-align: center;
  align-items: center; */
}

.pull-right{
  float: right;
}

.page-title{
  padding: 10px;
  color: green;
  text-align: center;
}

.product-list .card-body{
  text-align: center;
}

.product-list .badge-area{
  text-align: right;
}

.product-details{
  padding-top: 20px;
}

.color-box-area, .size-row{
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  margin-top: 15px;
}

.custom-color{
  margin-right: 15px;
  cursor: pointer;
}

.step-area, .size-row{
  margin-top: 15px;
}

.step-area .title{
  font-size: 1.5rem;
  font-weight: 600;
}