#root{
  height: 100%;
}

body{
  font-family: "Roboto", "Roboto Mono" !important;
  background-color: #f1f1f1;
}

.App {
  height: 100%;  
  display: flex;    
  background-color: #f1f1f1;
  /* justify-content: center;
  text-align: center;
  align-items: center; */
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.text-upercase{
  text-transform: uppercase;;
}

.page-title{
  padding: 10px;
  color: #198754;
  text-align: center;
}

.product-list .card-body{
  text-align: center;
}

.product-list .badge-area{
  text-align: right;
}

.product-details{
  padding-top: 20px;
}

.color-box-area, .size-row,
.basket-box-area{
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  margin-top: 15px;
}

.size-row{  
  padding: 0;
  margin: 15px 0 0 0;
}

.size-box-area{
  display: flex;
  flex-direction: column;
}

.custom-color{
  margin-right: 15px;
  cursor: pointer;
}

.step-area, .size-row{
  margin-top: 15px;
}

.step-area .title{
  font-size: 1.5rem;
  font-weight: 600;
}

.size-row .form-group, 
.size-row .form-check{
margin-bottom: 0 !important;
}

.size-row .form-check input{
  margin-top: 23px;
}

.size-row small{
  margin-top: 20px;
  float: left;
}

.size-items .form-check-label{
  display: block;
  padding: 20px 0;
  cursor: pointer;
}

.basket-box-area{
  margin-bottom: 20px;
}

.product-title{
  color: #198754;
}

.plain-price{
  font-size: 18px;
  color: #198754;
  font-weight: 600;
}

.counter-area input{
  width: 70px;
  border-radius: 0;
  text-align: center;
  box-shadow: none !important;
}

.counter-area span{
  margin-top: 12px;
}

.counter-area button{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none !important;
}

.inc-btn{
  border-right: 1px solid #ccc;;
}

.dec-btn{
  border-left: 1px solid #ccc;;
}

.inc-btn:hover, .dec-btn:hover{
  background-color: #f1f1f1;
}

.addto-btn{
  width: 180px;
  margin: 0 auto;
  box-shadow: none !important;
}

.addto-btn .add-icon{
  margin-top: -4px;
  margin-right: 5px;
}

.disable-btn{
  opacity: .5;
  pointer-events: none;
  cursor:not-allowed !important;
}

/* Custom modal style */
.modal-content{
  min-width: 700px;
}

.modal-header .close{
  border:none;
  background: transparent;
  font-size: 30px;
  margin-top: -10px;
}

.modal-header .close span:last-child{
display: none;
}

.add-logo-btn{
  width: 180px;
  /* margin: 40px auto 0; */
}

.total-price{
  font-size: 25px;
  color: #198754;
  margin: 50px auto 0;
}

/* Logo customisations page */
.logo-customisation{
}

.logo-card{
  margin-bottom: 25px;
}

.logo-image{
  width: 200px;
  margin: 0 auto;
}

.logo-customisation .card-body{
  text-align: center;
}

.step-title-area{
  margin: 20px 0;
}

.logo-type-area{
  margin-top: 10px;
}

.logo-type{
  margin-right: 20px;  
}

.logo-type-icon{
  color: #198754;
  margin-top: -3px;
}

.card-checkbox .form-check-input{
  float: none;
  font-size: 25px;
  box-shadow: none;
  border-radius: 3px;
}

.card-checkbox .form-check-label{
  display: block;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.appl-method-area,
.artwork-area{
  background: #fff;
  margin-top: 20px;
  padding: 30px 0;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
}

.appl-method-area .form-check-input{
  font-size: 30px;
  margin-left: 5px;
}

.appl-method-area .method-icon{
  font-size: 45px; 
}

.appl-method-area .form-check-label{
    position: absolute;
    width: 93%;
    margin-top: -26px;
    display: block;
    margin-left: -35px;
    height: 100px;
    cursor: pointer;
}

.active-area{
  color: #198754;
  border: 1px solid #198754;
}

.artwork-area .form-check-input{
  font-size: 30px;
  margin-left: 5px;
  margin-top: 10px;
}

.new-circle{
  border: 1px dashed #198754;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 3;
  text-align: center;
  font-weight: 400;
  color: #198754;
}

.artwork-text{
  margin-top: 12px;
}

/* Form style */
.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

.form-field-area{
  margin-top: 20px;
}

.form-check [type=radio]{
  font-size: 30px;
}

/* Setep bar custome */
.step-circle ._2kL0S{
  background-color: #ccc !important;
}

._35Ago ._2kL0S{
  background-color: #387cf6 !important;
}

.primary-btn, .secondary-btn{
  text-decoration: none;
}

.primary-btn:hover{
  color: #fff;
}

/* Custome font picker */
#font-picker{
  width: 100%;
  background: #fff;
}

#font-picker{
  box-shadow: none;
}

#font-picker .dropdown-button{  
  color: #212529;
  border: 1px solid #ced4da;
  font-weight: 400;
  line-height: 1.5;
  background: #fff;
  height: 50px;
  padding: 0 15px;
  box-shadow: none !important;  
  border-radius: .3rem;
}

div[id^=font-picker] ul li {
  height: 49px !important;
  color: #212529;
  border: 1px solid #ced4da;
  background: #fff;
}

div[id^=font-picker] ul li button:hover, 
div[id^=font-picker] ul li button:focus {
  background: #f1f1f1 !important;
}

.apply-font{
  margin-top: 20px;
  text-align: center;
  border: 1px solid #ced4da;
  background: #fff;
  padding: 30px 0;
}