#root{
  height: 100%;
}

.App {
  height: 100%;  
  display: flex;    
  background-color: #f1f1f1;
  /* justify-content: center;
  text-align: center;
  align-items: center; */
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.page-title{
  padding: 10px;
  color: green;
  text-align: center;
}

.product-list .card-body{
  text-align: center;
}

.product-list .badge-area{
  text-align: right;
}

.product-details{
  padding-top: 20px;
}

.color-box-area, .size-row,
.basket-box-area{
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  margin-top: 15px;
}

.size-row{  
  padding: 0;
  margin: 15px 0 0 0;
}

.size-box-area{
  display: flex;
  flex-direction: column;
}

.custom-color{
  margin-right: 15px;
  cursor: pointer;
}

.step-area, .size-row{
  margin-top: 15px;
}

.step-area .title{
  font-size: 1.5rem;
  font-weight: 600;
}

.size-row .form-group, 
.size-row .form-check{
margin-bottom: 0 !important;
}

.size-row .form-check input{
  margin-top: 23px;
}

.size-row small{
  margin-top: 20px;
  float: left;
}

.form-check-label{
  display: block;
  padding: 20px 0;
  cursor: pointer;
}

.basket-box-area{
  margin-bottom: 20px;
}

.plain-price{
  font-size: 18px;
  color: green;
  font-weight: 600;
}

.counter-area input{
  width: 70px;
  border-radius: 0;
  text-align: center;
  box-shadow: none !important;
}

.counter-area span{
  margin-top: 12px;
}

.counter-area button{
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none !important;
}